<h1>EDITAR TAREA</h1>

<div class="container" style="width:100; margin:0 auto; color:white;">
    <div style="text-align:center;">
        <label for="tarea" style="margin: 15px; font-size: 20px;" >Tarea</label>
        <br>
        <input type="text" id="tarea" name="tarea" [(ngModel)]="tareaActual.tarea">
    </div>
    
    <br>
    <div style="text-align:center">
        <label for="estado" style="margin: 15px; font-size: 20px; text-align: left !important;">Estado</label>
        <input type="checkbox" name="estado" id="estado" [(ngModel)]="tareaActual.finalizado">
    </div>
   
<div style="text-align: center;">
    <button class="btn btn-primary" (click)="guardar()" style="position: -ms-page; margin-right: 10px;">Guardar</button>
    <button class="btn btn-primary" [routerLink]="['/inicio']" routerLinkActive="active-link">Cancelar</button>
</div>
   
</div>
